version: '3.3'

services :
  wordpress:
    image: wordpress:latest
    ports:
      - "80:80"
    environment:
{% for host in groups['db'] %}
      WORDPRESS_DB_HOST: {{host}}:{{hostvars[host]['port']}} 
      WORDPRESS_DB_USER: {{hostvars[host]['name']}}
      WORDPRESS_DB_PASSWORD: {{hostvars[host]['password']}}
      WORDPRESS_DB_NAME: db_eductive06
{% endfor %}
volumes:
  db_data: 
